.project
.settings
*~
*.diff
*.patch
.DS_Store
.bower.json
.sizecache.json
yarn.lock
package-lock.json

npm-debug.log*

# Ignore everything in dist folder except for eslint config
/dist/*
!/dist/.eslintrc.json
/node_modules
/coverage

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
target/

### vs code ##
/.vscode/
serverundefined/
